<div class="container mt-5 pb-5">
  <div class="form-group text-center">
    <h2 class="mb-3 ml-5">商品詳細</h2>

      <%= image_tag @item.get_image(300,300), class: "rounded-bottom" %>

      <table class="table col-md-10 text-center">
        <tbody>
          <tr>
            <td>商品名</td>
            <td><%= @item.name %></td>
          </tr>

          <tr>
             <td>商品説明</td>
             <td><%= @item.introduction %></td>
          </tr>

          <tr>
            <td>ジャンル</td>
            <td><%= @item.genre.name %></td>
          </tr>

          <tr>
             <td>税込価格</br>（税抜価格）</td>
             <td><%= @item.add_tax_price.to_s(:delimited) %>（<%= @item.price.to_s(:delimited) %>）円</td>
          </tr>

           <tr>
             <td>販売ステータス</td>
             <td>
               <% if @item.is_active == true %>
                      <p class="text-success"><strong>販売中</strong></p>
               <% else %>
                      <p class="text-secondary"><strong>販売停止中</strong></p>
               <% end %>
             </td>
           </tr>
        </tbody>
       </table>

       <%= link_to "編集する", edit_admin_item_path, class: "btn btn-base mt-3 ml-5 px-4 py-2" %>
    </div>
  </div>
</div>