<div class="container">
  <h4>注文履歴一覧</h4>
  <div class="row">
    <table class="table order_table table-bordered">
      <thead class="table-danger">
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |f| %>
        <tr>
          <td><%= f.created_at %></td>
          <td>〒<%= f.postal_code %><br>
                <%= f.address %><br>
                <%= f.name %>
          </td>
          <td><%= f.order_details.ids %></td>
          <td><%= f.total_payment %></td>
          <td><%= Order.statuses_i18n[f.status] %></td>
          <td><%= link_to "表示する", order_path(@order.id), class:"btn btn-info btn-sm" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>