<!--顧客ログイン画面-->
<div class="container my-5">

  <div class="row px-4">
    <h3 class="col-12 mb-5 font-weight-bold">ログイン</h3>
  </div>

    <div class="row ml-5">
      <h5 class="col-12 mb-3 font-weight-bold">会員の方はこちらからログイン</h5>
    </div>

    <div class="col-12 registrations">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field row justify-content-center mt-2">
          <label class="col-2">メールアドレス</label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com', class: 'col-5' %>
        </div>

        <div class="field row justify-content-center mt-2">
          <label class="col-2">パスワード</label>
            <%= f.password_field :password, autocomplete: "current-password", class: 'col-5' %>
        </div>

        <div class="actions text-center row my-5 ">
          <!-- <div class="col-4"></div>-->
          <%= f.submit "ログイン",class: "btn btn-sm btn-primary px-5 mx-auto d-block" %>
        </div>
      <% end %>
    </div>

    <div class="row ml-5">
      <h5 class="col-12 px-4 mt-4 mb-3 font-weight-bold">会員登録がお済みでない方</h5>
        <div class="ml-5 mt-2">
          <p><%= render "public/shared/links" %>から会員登録を行なってください。</P>
        </div>
    </div>

</div>