<!--商品詳細画面(顧客）-->
<div class="container">
  <div class="row pt-3">
    <!--ジャンル検索サイドバー-->
	  <div class="col-3 mt-3"><%= render "public/genres/search_sidebar", genres: @genres %></div>
	  <!--商品画像-->
	  <div class="col-4 my-5">
	    <p class="item-content1"><%= image_tag @item.image, class: "rounded", size:"350x300", style: "object-fit: cover;"  %></p>
	  </div>
	  <!--商品詳細-->
	  <div class="col-5 my-5">
	    <%= form_with model: @cart_item, method: :post do |f| %>
	  
		    <h3 class="font-weight-bold">
			    <%= @item.name %>
		    </h3>
		
		    <div>
			    <%= @item.introduction %>
		    </div>
		
		    <div class="pt-5", style="font-family: arial black">
			    <p>¥<%= @item.add_tax_price.to_s(:delimited) %> (税込)</p>
		    </div>
			
        <!--販売ステータス・カート追加-->
		    <% if @item.is_active == true %>
		      <p class="text-success"><strong>販売中</strong></p>
		      <div class="row pt-2">
		        <%= f.select :amount, *[1..20], {:prompt => "個数選択"}, class:"ml-3" %>
            <%= f.hidden_field :item_id, :value => @item.id %>
		        <%= f.submit "カートに入れる", class:"btn btn-success ml-4" %>
		      </div>
        <% else %>
		      <p class="text-secondary ml-3"><strong>販売停止中</strong></p>
		    <% end %>

	    <% end %>
	  </div>
	  
  </div>
</div