<!--商品詳細画面(顧客）-->
<div class="container">
  <div class="row pt-3 col-12">
    <!--ジャンル検索サイドバー-->
	<div class="col-3 mt-3"><%= render "public/genres/search_sidebar", genres: @genres %></div>
	<!--商品画像-->
	<div class="col-4">
	  <p class="item-content1"><%= image_tag @item.get_image(300, 300), class: "rounded-bottom" %></p>
	</div>
	<!--商品詳細-->
	<div class="col-5 my-5">
	  <%= form_with model: @cart_item, method: :post do |f| %>
		<h3><%= @item.name %></h3>
		<p><%= @item.introduction %></p>
		<p class="pt-5", style="font-family: arial black">¥<%= @item.add_tax_price.to_s(:delimited) %> (税込)
			
		  <div class="row pt-4">
		    <%= f.select :amount, *[1..10], {:prompt => "個数選択"}, class:"ml-3" %></p>
            <%= f.hidden_field :item_id, :value => @item.id %>
		    <%= f.submit "カートに入れる", class:"btn btn-success ml-4" %>
		  </div>
	  <% end %>
	</div>
	  
  </div>
</div