<!--商品詳細画面(顧客）-->
<div class="container">
  <div class="row pt-3 col-12">
    <!--ジャンル検索サイドバー-->
	<div class="col-3 mt-3"><%= render "public/genres/search_sidebar", genres: @genres %></div>
	<!--商品詳細-->
	<div class="col-9">
		<p class="item-content1"><%= image_tag @item.get_image(300, 300), class: "rounded-bottom" %></p>
	</div>
	<div class="col-xs-5">
		<%= form_with model: @cart_item, method: :post do |f| %>
		<h3><%= @item.name %></h3>
		<p><%= @item.introduction %></p>
	</div>
</div>

<div class="row">
	<div class="col-xs-2">
	</div>
	<div class="col-xs-5">

			<p class="item-content2", style="font-family: arial black">¥<%= @item.price.to_s(:delimited) %> (税込)
				<span>　　</span><%= f.select :amount, *[1..10], {:prompt => "個数選択"} %></p>
		</div>

		<div class="col-xs-5">
		  <%# if customer_signed_in? %>
        <%#= f.hidden_field :customer_id, :value => current_customer.id %>
      <%# end %>
      <%= f.hidden_field :item_id, :value => @item.id %>
		  <%= f.submit "カートに入れる", class:"btn btn-primary" %>
		</div>
		<% end %>
  </div>
</div