<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container mx-auto">
      <a class="navbar-brand" href="/"><%= image_tag('nagano-cake.png') %></a>
        <ul class="navbar-nav ml-auto">

       <div class="login-name mx-auto text-light">
        <% if customer_signed_in? %>
        <p>ようこそ <%= current_customer.last_name %> さん！</p>
　　　　<% elsif admin_signed_in? %>
　　　　<p>管理者　ログイン中</p>
　　　　<% end %>
　　　</div>

　　　　<ul class="nav navbar-nav navbar-right">
　　　　  <% if customer_signed_in? %>
　　　　  <!--ユーザーがログインしているとき-->
          <li>
            <%= link_to customers_information_path,class: 'nav-link text-light' do %>
              マイページ
            <% end %>
          </li>

          <li>
            <%=  link_to items_path,class: 'nav-link text-light' do %>
               商品一覧
            <% end %>
          </li>

          <li>
            <%=  link_to cart_items_path ,class: 'nav-link text-light' do %>
               カート
            <% end %>
          </li>

          <li>
            <%= link_to destroy_customer_session_path, method: :delete,class: 'nav-link text-light' do %>
               ログアウト
            <% end %>
          </li>

          <div class="row-1">
            <%= text_field :search, placeholder: "ジャンル検索" %></div>


          <% elsif admin_signed_in? %>
          <!--管理車がログインしているとき-->
          <li>
            <%= link_to admin_items_path, class: 'nav-link text-light' do %>
              商品一覧
            <% end %>
          </li>
          <li>
            <%=  link_to admin_customers_path, class: 'nav-link text-light' do %>
              会員一覧
            <% end %>
          </li>
          <li>
            <%=  link_to admin_homes_path , class: 'nav-link text-light' do %>
              注文履歴一覧
            <% end %>
          </li>
          <li>
            <%=  link_to admin_genres_path , class: 'nav-link text-light' do %>
              ジャンル一覧
            <% end %>
          </li>
          <li>
            <%=  link_to destroy_admin_session_path , class: 'nav-link text-light', method: :delete do %>
              ログアウト
            <% end %>
          </li>

          <% else %>
　　　　　<!--誰もログインしていないとき-->
          <li>
            <%= link_to about_path,class: 'nav-link text-light' do %>
               About
            <% end %>
          </li>

          <li>
            <%= link_to items_path,class: 'nav-link text-light' do %>
               商品一覧
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_registration_path,class: 'nav-link text-light' do %>
               新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_session_path ,class: 'nav-link text-light' do %>
               ログイン
            <% end %>
          </li>

        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>